<div class="ui two column grid">
  <div class="column">
    <%= render partial: "form", locals: { profile: @profile } -%>
  </div>

  <div class="column">
    <div class="ui piled feed segment">
      <h1 class="ui header">Oto drugi krok zakładania konta w panelu uczestnika.</h1>
      <br/>
      Profil użytkownika jest niezbędny do uzyskania statusu uczestnika. Na profilu znajduje sie imię, nazwisko, miejsce pracy oraz miasto. Prosimy o poprawne uzupełnienie profilu.
    </div>
  </div>
</div>
