<div class="ui two column grid">
	<div class="column">
		<% if @profile != nil %>
			<%= render partial: "preview", locals: { profile: @profile } %>
		<% else %>
			<div class="error">Nie masz zdefiniowanego profilu - zdefinij teraz </div>
		<% end %>
	</div>
	<div class="column">
		<div class="ui piled segment">
			<%= render partial: "lectures/list", locals: { lectures: @profile.user.lectures } -%>
		</div>
	</div>
</div>
