<%- title("Prelekcje, warsztaty i konkursy") -%>

<%- if can? :manage, Lecture -%>
  <div class="ui buttons">
    <%- if can? :create, Lecture -%>
      <%= link_to "Dodaj wydarzenie", new_lecture_path, class: "ui green button" -%>
    <%- end -%>
  </div>
<%- end -%>

<div class="ui piled segment">
	<h1>UWAGA!!!! WAŻNE!!!!</h1>
	<p>W przypadku warsztatów <b>Construct 2</b> i <b>Robotyka</b> – zapisz się tylko na jedną grupę (grupa 1 lub grupa 2)!!!!
	Na obu grupach treść zajęć jest dokładnie ta sama.
	W razie zapisu na obie grupy administrator zastrzega sobie możliwość wykasowania uczestnika z jednej z nich.</p>
</div>

<div class="ui piled segment">
	<%= render partial: "list", locals: { lectures: @lectures } -%>
</div>
