<%- title("Prelekcje, warsztaty i konkursy") -%>

<%- if can? :manage, Lecture -%>
  <div class="ui buttons">
    <%- if can? :create, Lecture -%>
      <%= link_to "Dodaj wydarzenie", new_lecture_path, class: "ui green button" -%>
    <%- end -%>
  </div>
<%- end -%>

<div class="ui piled segment">
	<%= render partial: "list", locals: { lectures: @lectures } -%>
</div>
