<% if @lectures != nil %>

<%- if can? :manage, Lecture -%>
  <div class="ui buttons">
    <%- if can? :create, Lecture -%>
      <%= link_to "Add lecture", new_lecture_path, class: "ui green button" -%>
    <%- end -%>
  </div>
<%- end -%>

<div class="ui piled segment">
  <%= render partial: "list", locals: { lectures: @lectures } -%>
</div>

<% end %>
