<%- title('Panel rejestracyjny') -%>
<div ng-app="registrationPanel"><div ng-controller="registrationController">
	
	<div class="ui green stacked segment">
		<div class="ui error form segment">
			<div class="two fields">
				<div class="field">
					<label>Imię</label>
					<input placeholder="Imię" type="text" ng-model="filter.firstName">
				</div>
				<div class="field">
					<label>Nazwisko</label>
					<input placeholder="Nazwisko" type="text" ng-model="filter.lastName">
				</div>
			</div>
			<div class="two fields">
				<div class="field">
					<label>Stanowisko / kierunek / profil</label>
					<input placeholder="Stanowisko / kierunek / profil" ng-model="filter.job" type="text">
				</div>
				<div class="field">
					<label>Firma / Uczelnia / Szkoła</label>
					<input placeholder="Firma / Uczelnia / Szkoła" ng-model="filter.place" type="text">
				</div>
			</div>
			<div class="ui blue submit button" ng-click="findWithParams()">Szukaj</div>
		</div>
	</div>
	<div class="ui teal stacked segment">
		
		<div class="ui relax divided selection list">
			<div class="item" ng-repeat="user in userList">
				<div class="content" data-title="Informacje o uczestniku" data-content="{{user.profile.job}}<br /> {{user.profile.place}}<br />">
					<div class="header">	
						{{user.profile.firstName}} {{user.profile.lastName}}
					</div>
					{{user.email}}
				</div>
				<div class="ui right floated tiny buttons">
					<div ng-if="user.barcode == ''" class="ui orange button" onclick="$(this).parent().find('.modal').modal('show');">Barcode</div>
					<div class="ui modal" id="{{user.id}}">
						<div class="ui center aligned segment">
							<div class="ui header">
								{{user.profile.firstName}} {{user.profile.lastName}}
							</div>
							<div class="field">
								<label>Barcode</label>
								<input type="hidden" ng-model="barcode.user_id" value="{{user.id}}">
								<input class="barcode" placeholder="12908..." ng-model="barcode.code" type="text">
							</div>
						</div>
					</div>
					
					<div class="ui green button">Information</div>
				</div>
			</div>			
		</div>

	</div>
</div></div>