<% if @users != nil %>
	<div class="ui divided selection list">
		<% @users.each do |user| %>
			<% if user != current_user %>
				<div class="item">
					<div class="ui label"> Email: <%= user.email %>
						<div class="detail"><%= user.user_role %></div>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>	
<% end %>
