<%- title("Panel uczestnika CHECK IT") -%>

<%= render 'contents/header_content' %>

<% content_for :mainbar do %>

<div class="ui transition myprofileSegment">
    <br />
    <br />
    <br />
    <div class="basic inverted animated fade ui button massive">
        <div class="visible content">Zarejestruj się na CHECK IT 2014</div>
        <div class="hidden content"><%= link_to "Zarejestruj się!", new_user_registration_path, :class => 'register_link'  %> </div>
    </div>
</div>
<% end %>
