<%- title("Panel uczestnika Check IT 2014") -%>

<%= render 'contents/header_content' %>

<% content_for :mainbar do %>

<div class="ui transition myprofileSegment">
    <br />
    <br />
    <br />
    <div class="basic inverted animated fade ui button massive">
        <div class="visible content">Zarejestruj się na Check IT 2014</div>
        <div class="hidden content"><%= link_to "Zarejestruj się!", new_user_registration_path, :class => 'register_link'  %> </div>
    </div>
</div>
<% end %>

<br />
<br />
<br />
<div class="ui three column center aligned stackable divided grid">
    <div class="column">
        <div class="ui icon header">
            <i class="circular book link icon"></i>
            Wiedza
        </div>
        <p>Jako uczestnik konferencji zdobywaj wiedzę i umiejętności.</p>
    </div>
    <div class="column">
        <div class="ui icon header">
            <i class="circular code link icon"></i>
            Wyzwania
        </div>
        <p>Podejmuj wyzwania programistyczne, bierz udział w konkursach.</p>
    </div>
    <div class="column">
        <div class="ui icon header">
            <i class="circular user link icon"></i>
            Społeczność
        </div>
        <p>Dołącz do społeczności uczestników konferencji Lubelskie Dni Informatyki.</p>
    </div>
</div>
<br />
<br />
<br />