<% content_for :mainbar do %>
<div class="ui transition myprofileSegment">
    <h1 class="ui inverted header">Panel uczestnika LDI 2014</h1>
    <div class="basic inverted animated fade ui button massive">
        <div class="visible content">Zarejestruj się na LDI 2014</div>
        <div class="hidden content"><%= link_to "Zarejestruj się!", new_user_registration_path, :class => 'register_link'  %> </div>
    </div>
</div>
<% end %>

<div class="ui three column center aligned stackable divided grid">
    <div class="column">
        <div class="ui icon header">
            <i class="circular book link icon"></i>
            Wiedza
        </div>
        <p>Take your kitty to a cat-ducation course and learn how to treat her well.</p>
    </div>
    <div class="column">
        <div class="ui icon header">
            <i class="circular code link icon"></i>
            Wyzwania
        </div>
        <p>Dig through our cat library to found out amazing things you can do with your kitty.</p>
    </div>
    <div class="column">
        <div class="ui icon header">
            <i class="circular user link icon"></i>
            Społeczność
        </div>
        <p>Get feedback on your cat from a community of loving pet owners on our online bulletin board system.</p>
    </div>
</div>