<% content_for :mainbar do %>
<div class="ui transition information">
    <h1 class="ui inverted header">Your Cat is Dumb</h1>
    <p>At least he won't reach his highest potential unless you enroll him in Cat University's 2013 class.</p>
    <div class="large basic inverted animated fade ui button">
        <div class="visible content">Come to ICU 2013</div>
        <div class="hidden content">Register Now</div>
    </div>
</div>
<% end %>
<div class="ui page grid overview segment">
    <div class="ui two wide column"></div>
    <div class="twelve wide column">
        <div class="ui three column center aligned stackable divided grid">
            <div class="column">
                <div class="ui icon header">
                    <i class="circular book link icon"></i>
                    Courses
                </div>
                <p>Take your kitty to a cat-ducation course and learn how to treat her well.</p>
                <p><a class="ui teal right labeled icon button" href="#">Learn <i class="right long arrow icon"></i></a></p>
            </div>
            <div class="column">
                <div class="ui icon header">
                    <i class="circular code link icon"></i>
                    Library
                </div>
                <p>Dig through our cat library to found out amazing things you can do with your kitty.</p>
                <p><a class="ui teal right labeled icon button" href="#">Research <i class="right long arrow icon"></i></a></p>
            </div>
            <div class="column">
                <div class="ui icon header">
                    <i class="circular user link icon"></i>
                    Community
                </div>
                <p>Get feedback on your cat from a community of loving pet owners on our online bulletin board system.</p>
                <p><a class="ui teal right labeled icon button" href="#">Share <i class="right long arrow icon"></i></a></p>
            </div>
        </div>
    </div>
</div>