
<br />

<div class="ui piled feed segment">
  <h2 class="ui header">
    Witaj w panelu uczestnika!
  </h2>
  <div class="event">
  	Konferencja Lubelskie Dni Informatuki 2014 już niebawem. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</div>

<div class="ui four column grid">
	<div class="column">
	    <div class="ui segment myprofileSegment">
	      	<i class="circular user huge icon"></i>
	      	<br />
	      	<br />
	      	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	      	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	      	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	      	<br /><br />
	      	<% if current_user.profile %>
	      		<%= link_to 'Zobacz swój profil', profiles_path, class: "ui green button" %>
	      	<% else %>
	      		<%= link_to 'Stwórz profil', new_profile_path, class: "ui green button" %>
	      	<% end %>
	    </div>
	</div>

	<div class="column">
	    <div class="ui segment myprofileSegment">
	    	<i class="circular browser huge icon"></i>
			<br />
	      	<br />
	      	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	      	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	      	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	      	<br /><br />
	      	<% if current_user.profile %>
	      		<%= link_to "Zapisz się na wykłady", lectures_path, class: "ui green button" -%>
	      	<% else %>
	      		<a class="ui green button disabled withPopup">Zapisz się na wykłady</a>
	      	<% end %>
	    </div>
	</div>

	<div class="column">
	    <div class="ui segment myprofileSegment">
	    	<i class="circular ticket huge icon"></i>
	    	<br />
	      	<br />
	      	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	      	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	      	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	      	<br /><br />
	    	<% if current_user.profile %>
	      		<a class="ui green button">Zgarnij bilet MPK</a>
	      	<% else %>
	      		<a class="ui green button disabled withPopup">Zgarnij bilet MPK</a>
	      	<% end %>
	    </div>
	</div>

	<div class="column">
	    <div class="ui segment myprofileSegment">
	     	<i class="circular certificate huge icon"></i>
	     	<br />
	      	<br />
	      	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	      	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	      	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	      	<br /><br />

	      	<% if current_user.profile %>
	      		<a class="ui green button">Zgarnij Certyfikat LDI</a>
	      	<% else %>
	      		<a class="ui green button disabled withPopup">Zgarnij Certyfikat LDI</a>
	      	<% end %>
	    </div>
	</div>
</div>