<%- title("Zdobądź darmowy przejazd ZTM") -%>

<div class="ui two column grid">
	<div class="column">
		<div class="ui piled segment myprofileSegment">
		<h2 class="ui header"></h2>

			<i class="circular ticket huge icon"></i>

			<h3> Zostało jeszcze <%= @tickets %> darmowych przejazdów </h3>
			<% if @tickets > 0 %>
				<% if !current_user.ztmTicket %>
		    		<%= link_to "Zdobądź darmowy przejazd ZTM", panel_ztm_get_path, class: "ui green button" -%>
		      	<% else %>
		      		<a class="ui green button disabled">Posiadasz już darmowy przejazd ZTM</a>
		      		<%= link_to "Zrezygnuj z darmowego przejazdu ZTM", panel_ztm_leaft_path, class: "ui red button" -%>
		      	<% end %>
		     <% end %>
		</div>
	</div>

	<div class="column">
		<div class="ui piled segment">
		<h2 class="ui header">Jak to działa?</h2>
		<p>
			400 Uczestnikom Konferencji przysługują uprawnienia do bezpłatnych przejazdów komunikacją miejską w dniu wydarzenia. Aby uzyskać darmowy przejazd, należy wyrazić chęć jego uzyskania podczas rejestracji.
		</p>
		<p>
			Bilety można odebrać od 7-9 maja na pl. Litewskim 1, w sali 303 budynku Wydziału Strategii i Obsługi Inwestorów Urzędu Miasta Lublin lub w dzień Konferencji przy puncie Rejestracji.
		</p>
		<p>
			W razie jakichkolwiek pytań prosimy pisać na adres e-mail lwit@lublin.eu
		</p>
		</div>
	</div>
</div>