<div>
  <h2 class="ui header">
    Zdobądź bilet ZTM 
  </h2>
</div>


<div class="ui two column grid">
	<div class="column">
		<div class="ui piled segment myprofileSegment">
		<h2 class="ui header"></h2>

			<i class="circular ticket huge icon"></i>
			
			<h3> Zostało jeszcze <%= @tickets %> biletów </h3>
			<% if @tickets > 0 %>
				<% if !current_user.ztmTicket %>
		    		<%= link_to "Zdobądź bilet ZTM", panel_ztm_get_path, class: "ui green button" -%>
		      	<% else %>
		      		<a class="ui green button disabled">Posiadasz już bilet ZTM</a>
		      	<% end %>
		     <% end %>
		</div>
	</div>

	<div class="column">
		<div class="ui piled segment">
		<h2 class="ui header">Jak to działa?</h2>
		</div>
	</div>
</div>



</div>