<%- if can? :manage, Room -%>
  <div class="ui buttons">
    <%- if can? :create, Room -%>
      <%= link_to "Dodaj pokój", new_room_path, class: "ui green button" -%>
    <%- end -%>
  </div>
<%- end -%>

<div class="ui piled segment">
	<h1 class="ui center aligned header">Miejsca w których odbywają się wydażenia</h1>
	<%= render partial: "list", locals: { rooms: @rooms } -%>
</div>