<%- if can? :manage, Room -%>
  <div class="ui buttons">
    <%- if can? :create, Room -%>
      <%= link_to "Add room", new_room_path, class: "ui green button" -%>
    <%- end -%>
  </div>
<%- end -%>

<%= render partial: "list", locals: { rooms: @rooms } -%>