<%= render "preview" %>

<div class="ui small buttons">
  <%= link_to 'Back', rooms_path, class: "ui red button" %>

  <%- if can? :edit, @room -%>
      <%= link_to 'Edytuj', edit_room_path(@room), class: "ui small positive button" %>
  <%- end -%>
</div>
