/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/*******************************
            Global
*******************************/

html,
body {
    font-size: 15px;
    height: 100%;
}

body {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: #FFFFFF;
    margin: 0px;
    padding: 0px;
    color: #555555;
    text-rendering: optimizeLegibility;
    min-width: 320px;
}

/*******************************
          UI Overrides
*******************************/

h1.ui.center.aligned.inverted.lwit.block.header {
  background: #6DAC22;
}

.ui.header {
    font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.ui.header,
h1,
h2 {
    font-weight: normal !important;
}

h1.ui.header {
    font-size: 3em;
}

h4.ui.header,
h5.ui.header,
.ui.icon.header {
    font-weight: bold !important;
}

.ui.button {
    font-weight: normal;
    text-decoration: none;
}

a {
    color: #009FDA;
    text-decoration: none;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

a:hover {
    color: #00BAFF;
}

.item {
  z-index: 2000;
}

p a {
    font-weight: bold;
}

/*******************************
            Global
*******************************/

.menu .right.menu > .mobile.item {
    display: none;
}

.ui.page.grid.segment {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.masthead.segment {
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0em;
    padding-top: 4rem;
    overflow: hidden;
    -webkit-box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
    box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
}

.masthead.segment .column {
    position: relative;
}

.masthead.segment .information {
    margin: 3em 1em 1em 280px;
}

.masthead.segment .information p {
    max-width: 600px;
    margin: 0em 0px 2em 0em;
    font-size: 1.2em;
}

.masthead.segment h1.ui.header .sub {
    font-size: 0.7em;
}

.masthead.segment .image {
    position: absolute;
    left: 0%;
    bottom: -110px;
}

.overview .divided.grid .header + p {
    min-height: 100px;
}

.ui.shape .icon,
.link.list .icon {
    margin: 0em;
    padding: 0em;
}

.ui.cube.shape .side {
    background-color: transparent;
}

/*******************************
          Responsive
*******************************/

/* Mobile Only */

@media only screen and (max-width : 768px) {
    .ui.page.grid.segment {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .menu .right.menu > .item {
        display: none;
    }

    .menu .right.menu > .mobile.item {
        display: block;
    }

    h1.ui.header {
        font-size: 1.5em;
    }

    .masthead.segment {
        -webkit-background-size: auto;
        background-size: auto;
    }

    .masthead.segment .information {
        margin-left: 190px;
    }

    .masthead.segment .image {
        bottom: -65px;
        width: 150px;
    }

    .masthead.segment .button {
        font-size: 1rem;
    }

    .overview .divided.grid .header .icon {
        font-size: 1.5em;
    }

    .overview .divided.grid .header + p {
        min-height: 0px;
    }

    .masthead.segment .column {
        font-size: 0.7rem;
    }

    .masthead.segment .column p {
        display: none;
    }

    .selection.list .right.floated {
        display: none;
    }
}

@media only screen and (max-width : 1000px) {

}

/* ====== OWN CSS ===== */
.main-menu {
    width: 50em;
    text-align: right;
}

.myprofileSegment {
  text-align: center;
}

.register_link a {
  color: #FFF !important;
  background: transparent !important;
}

.register_link a:hover, a:visited {
  color: #FFF !important;
  background: transparent !important;
}

.crm-footer {
  position:absolute;
  width:100%;
  bottom:0;
  left:0;
}

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; 
}

.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em;
}
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }

    .apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }
      
.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }
