<div class="ui justified segment">
	<h1 class="ui header">Witaj <%= @email %>!</h1>
	
	<!-- Tu wiadomość informacyjna -->


	<p><%= link_to 'Zweryfikuj moje konto', confirmation_url(@resource, :confirmation_token => @token) %></p>
</div>