<div class="ui justified segment">
	<h1 class="ui header">Witaj <%= @email %>!</h1>
	<div class="ui segment">
		<p>Gratulujemy pomyślnej rejestracji na bezpłatną konferencję Lubelskie Dni Informatyki, największego tegorocznego wydarzenia IT we wschodniej Polsce!</p>
		<p>Ta wiadomość zawiera ważne informacje na temat Twojego konta i sposobu jego aktywacji.</p>
		<p>Dziękujemy za zainteresowanie się naszą konferencją. Mamy nadzieję, że tegoroczna edycja Lubelskich Dni Informatyki szczególnie zapadnie Wam w pamięć. Tylko dzięki Waszemu wsparciu i zaufaniu możemy stawać się coraz lepsi z każdym kolejnym wydarzeniem.</p>
	</div>
	<div class="ui segment">
		<p>Prosimy pamiętać, iż w razie jakichkolwiek zmian, odzyskiwania konta oraz potwierdzenia swojej tożsamości niezbędny jest adres e-mail podany podczas rejestracji.</p>
		<p>W celu ukończenia rejestracji prosimy aktywować konto.</p>
		<p>Przypominamy, że aktywne konto w dniu wydarzenia jest równoznaczne z akceptacją wszystkich regulaminów dostępnych na stronie <%= link_to "LDI", "http://ldi.org.pl/" %></p>
		<p><%= link_to 'AKTYWUJ KONTO', confirmation_url(@resource, :confirmation_token => @token), class: "ui positive button" %></p>
	</div>
</div>