<div class="ui justified segment">
	<h1 class="ui header">Witaj <%= @email %>!</h1>
	<div class="ui segment">
		<p>Otrzymaliśmy żądanie zresetowania hasła dla konta Check IT. </p>
		<p>Kliknij ten link, by zresetować hasło:</p>
		<p><%= link_to 'Zresetuj hasło', edit_password_url(@resource, :reset_password_token => @token), class: "ui positive button" %></p>
	</div>
	<div class="ui segment">
		<p>Jeśli nie złożyłeś wspomnianego żądania lub nie chcesz już wprowadzać powyższej zmiany, zignoruj ten e-mail.</p>
		<p>Twoje hasło nie zostanie zmienione dopóki podanywyżej link nie zostanie wykożystany</p>
	</div>
</div>
