<div class="ui relaxed segment">
	<h2 class="header">Admin Dashboard</h2>
	
	<div class="ui divider"></div>

	<div class="buttons">
		<div class="ui button"> <%= link_to 'User List', admin_users_path %></div>
	</div>
</div>