<div class="ui inverted page grid segment">
    <div class="ten wide column">
    </div>
    <div class="six wide right floated aligned column">
        <i class="code icon"></i> with <i class="heart icon"></i> by <a href="https://github.com/vircung">vircung</a> and <a href="https://github.com/sptq">sptq</a>
    </div>
</div>