<% if errors.any? %>
  <div class="ui red inverted segment">
    <h2 class="ui header">Błędy uniemożliwiające zapis formularza:</h2>

    <ul>
    <% errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>